{% extends "base.html" %}
{% block title %}
About
{% endblock %}

{% block content %}
<div id="about" class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">
          <h2>Our Vision</h2>
          <p>A world without animal farms and slaughterhouses. A world where food production does not decimate forests, pollute rivers and oceans, exacerbate climate change and drive wild animal populations to extinction.</p>
          <h2>Our Mission</h2>
          <p>Our mission is to inspire and support people to try vegan, drive corporate change, and create a global mass movement championing compassionate food choices with the aim of ending animal farming, protecting the planet, and improving human health.</p>
<!--          <a href="Javascript:void(0)">Read more</a>-->
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_rl">
        <div class="about-box_img">
          <figure><img src="../static/images/about.jpg" alt="#" /></figure>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}
