{% extends "base.html" %}

{% block title %}
Home
{% endblock %}
{% block content %}
    <section class="slider_section">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid padding_dd">
              <div class="carousel-caption">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="text-bg">
                     <span>Welcome To Veggieway</span>
                      <h1>It's all about Plants!</h1>
                      <p>Throughout the year, Veggieway encourages and supports people and businesses alike to move to a plant-based diet as a way of protecting the environment, preventing animal suffering, and improving the health of millions of people.</p>
                    </div>
                  </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="images_box">
                    <figure><img src="../static/images/img2.png"></figure>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content%}
